<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beyin Tümörü Tespit Sistemi</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Beyin Tümörü Tespit Sistemi</h1>
        <form action="/" method="POST" enctype="multipart/form-data">
            <label for="image">MRI Görüntüsü Yükleyin:</label>
            <input type="file" name="image" id="image" accept="image/*" required>
            <button type="submit">Tahmin Et</button>
        </form>

        {% if result %}
        <div class="result">
            <h2>Tahmin Sonucu:</h2>
            <p><strong>{{ result }}</strong></p>
         <!--   <p>Güven Skoru: {{ confidence | round(2) }}</p> -->
        </div>

        {% if image_url %}
        <div class="uploaded-image">
            <h3>Yüklenen Görüntü:</h3>
            <img src="{{ image_url }}" alt="Yüklenen Görüntü" style="max-width: 300px; border: 1px solid #ccc;">
        </div>
        {% endif %}
        {% endif %}
    </div>
</body>
</html>
